<script>
	export let value;
	export let active;
</script>

<style>
	.container {
	  width: 1em;
	  min-width: 1em;
	  height: 1em;
	  min-height: 1em;
	  font-size: 3em;
	  background-color: blueviolet;

	  display: flex;
	  align-items: center;
	  justify-content: center;
	}

	.active {
	  background-color: brown;
	}
</style>

<div class="container" class:active>
	{ value }
</div>
