<script>
  import Cell from "./Cell";

  import { cells, head } from "stores";
</script>

<style>
  .container {
    width: 100vw;
    background-color: aquamarine;

    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    left: 0;
  }
</style>

<section>
  <div class="container">
    {#each $cells as cell, i (cell.key)}
      <Cell value={cell.symbol} active={i === $head} />
    {/each}
  </div>
</section>
