<script>
  import Tape from "~/tape/Tape";
  import Rules from "~/rules";
  import Control from "~/control/Control";
  import History from "~/history";

  import { state, cells, head } from "stores";
</script>

<style>
  .data {
    display: grid;
    grid-template-columns: 1fr 300px;
  }
</style>

<Tape />

<Control />

<section class="data">
  <div>
    <Rules />
  </div>
  <div>
    <History />
  </div>
</section>
