<script>
  import { createEventDispatcher } from "svelte";

  export let value = "";
  export let items = [];
  export let placeholder = "";

  const dispatch = createEventDispatcher();

  let input_el;
  let modal_el;

  let expanded = false;
  let selected = 0;
  let availables = [];

  $: {
    availables = [];
    items.forEach(item => {
      if (item.startsWith(value) && item !== value) {
        availables.push(item);
      }
    });
  }

  function show(event) {
    dispatch("focus", event);

    if (availables.length > 0) {
      resize();
      expanded = true;
    }
  }

  function hide(event) {
    dispatch("blur", event);
    expanded = false;
  }

  function resize() {
    const { clientHeight } = document.documentElement;
    const { width, top, bottom, left } = input_el.getBoundingClientRect();

    modal_el.style.width = width + "px";
    modal_el.style.left = left + "px";

    if (top < (clientHeight * 2) / 3) {
      modal_el.style.top = bottom + "px";
      modal_el.style.bottom = "auto";
    } else {
      modal_el.style.bottom = clientHeight - top + "px";
      modal_el.style.top = "auto";
    }
  }

  function applySelected() {
    value = availables[selected];
    hide();
  }

  function keydown(event) {
    const { code } = event;

    if (code === "Enter" || code === "Tab") applySelected();

    if (code === "ArrowDown") {
      event.preventDefault();
      selected = (selected + 1) % availables.length;
    }

    if (code === "ArrowUp") {
      event.preventDefault();
      selected = (selected + availables.length - 1) % availables.length;
    }
  }
</script>

<style>
  .modal {
    display: none;
    position: fixed;
    background-color: blueviolet;
  }

  .expanded {
    display: block;
  }

  .modal > *:hover {
    cursor: pointer;
  }

  .selected {
    background-color: mediumpurple;
  }

  input {
    background: none;
    outline: none;
    border: none;
    height: 30px;
  }
</style>

<svelte:window on:scroll={resize} on:resize={resize} />

<input
  bind:this={input_el}
  bind:value
  on:change
  on:focus={show}
  on:blur={hide}
  on:keydown={keydown}
  {placeholder} />

<div bind:this={modal_el} class="modal" class:expanded>
  {#each availables as item, i}
    <div
      class:selected={i === selected}
      on:mousemove={() => (selected = i)}
      on:mousedown={applySelected}>
       {item}
    </div>
  {/each}
</div>
