<script>
  import Reset from "~/control/Reset";
  import Step from "~/control/Step";
  import Run from "~/control/Run";
  import Button from "~/Button";

  import Symbolizer from "services/symbolizer";
  import Executor from "services/executor";

  import { cells, head, state, steps, history } from "stores";
  import { ENTRY } from "consts";

  const executor = new Executor();
  let symbolizer = new Symbolizer();

  let resetText = "Reset";

  let value = "";

  function step() {
    executor.step();
  }

  function run() {
    executor.run();
  }

  function reset() {
    symbolizer.reset();

    history.set([]);
    state.set(ENTRY);
    steps.set(0);
    head.set(0);

    if (value === "") {
      cells.set([symbolizer.virtual()]);
    } else {
      cells.set(value.split("").map(e => symbolizer.real(e)));
    }

    resetText = "Reset";
  }
</script>

<style>

</style>

<input
  bind:value
  on:keyup={() => (resetText = 'Load and reset')}
  placeholder="enter tape" />

<Reset on:click={reset}>{resetText}</Reset>
<Step on:click={step} />
<Run on:click={run} />
