<script>
  import Item from "~/history/Item";
  import { history, cells, head, state, steps } from "stores";

  let clicked_point = null;
  let hovered_point = null;

  $: {
    travel(hovered_point || clicked_point || $history[0]);
  }

  function travel(point) {
    head.set(0);
    steps.set(point.steps);
    cells.set(point.cells);
    head.set(point.head);
    state.set(point.state);
  }

  function travelClick(item) {
    clicked_point = item;
  }

  function travelHover(item) {
    hovered_point = item;
  }
</script>

<style>
  ol {
    margin-left: 0;
    list-style: none;
    counter-reset: li;
  }
</style>

<ol>
  {#each $history as item, i}
    <Item
      bind:item
      shadow={item.steps > $steps}
      on:click={() => travelClick(item)}
      on:mouseenter={() => travelHover(item)}
      on:mouseleave={() => travelHover(null)} />
  {/each}
</ol>
