<script>
  export let item;
  export let shadow;

  let hovered = undefined;

  function hover(step) {
    hovered = step;
  }
</script>

<style>
  .shadow {
    border: 3px solid rgb(150, 150, 150);
  }

  .shadow > .count {
    color: rgb(150, 150, 150);
  }

  li {
    position: relative;
    margin-bottom: 1em;
    border: 3px solid #cadfcf;
    padding: 0.6em;
    border-radius: 4px;
    background: #fefefe;
    color: #231f20;
    font-family: "Trebuchet MS", "Lucida Sans";
    cursor: pointer;
  }

  .count {
    position: absolute;
    top: -0.7em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    font-size: 16px;
    font-weight: bold;
    color: #dcc24b;
    background: #fefefe;
    border-radius: 50%;
  }
</style>

<li on:click on:mouseenter on:mouseleave class:shadow>
  <div class="count">{item.steps === 0 ? 'Initial' : item.steps}</div>
    {item.state}
</li>
