<script>
  import Rule from "~/rules/Rule";
  import { Rule as R } from "data";

  import { rules } from "stores";

  function add() {
    rules.update(n => [R.empty(), ...n]);
  }

  function del(event) {
    rules.update(n => {
      n.splice(event.detail.num, 1);
      return n;
    });
  }
</script>

<div>
  <button on:click={add}>add rule</button>

  {#each $rules as rule, i}
    <Rule bind:rule num={i} on:delete={del} />
  {/each}
</div>
