<script>
  import { createEventDispatcher } from "svelte";
  import { states, state, current } from "stores";
  import { EMPTY, LEFT, RIGHT, NONE } from "consts";
  import InputWithSelectable from "~/InputWithSelectable";

  export let rule;
  export let num;

  const dispatch = createEventDispatcher();

  let focused = false;
  let breakpoint = rule.breakpoint;

  $: next = $state === rule.state && $current === rule.symbol;

  function deleteRule() {
    dispatch("delete", { num: num });
  }

  function updateRule() {
    dispatch("update", { num: num });
  }

  function toggleBreakpoint() {
    breakpoint = rule.toggleBreakpoint();
  }
</script>

<style>
  .icon {
    width: 1rem;
    height: 1rem;
    display: inline-block;
  }

  .icon:hover {
    border: 1px solid red;
  }

  .icon.next {
    background-color: blueviolet;
  }

  .icon.breakpoint {
    background-color: red;
  }

  .focused {
    background-color: dimgrey;
  }

  .rule:hover {
    background-color: dimgrey;
  }
</style>

<div class="rule" class:focused>
  <div class="icon" class:breakpoint class:next on:click={toggleBreakpoint} />

  <InputWithSelectable
    bind:value={rule.state}
    on:change={updateRule}
    on:focus={() => (focused = true)}
    on:blur={() => (focused = false)}
    items={$states}
    placeholder="lol" />
  <InputWithSelectable
    bind:value={rule.symbol}
    on:change={updateRule}
    on:focus={() => (focused = true)}
    on:blur={() => (focused = false)}
    items={[EMPTY]}
    placeholder="Symbol" />

  <InputWithSelectable
    bind:value={rule.nextState}
    items={$states}
    on:change={updateRule}
    on:focus={() => (focused = true)}
    on:blur={() => (focused = false)}
    placeholder="New state" />
  <InputWithSelectable
    bind:value={rule.nextSymbol}
    on:change={updateRule}
    on:focus={() => (focused = true)}
    on:blur={() => (focused = false)}
    items={[EMPTY]}
    placeholder="New symbol" />
  <InputWithSelectable
    bind:value={rule.direction}
    on:change={updateRule}
    on:focus={() => (focused = true)}
    on:blur={() => (focused = false)}
    items={[LEFT, RIGHT, NONE]}
    placeholder="Direction" />

  <button on:click={deleteRule}>d</button>
</div>
